<head>

  <meta charset="utf-8">

  <meta http-equiv="X-UA-Compatible" content="IE=edge">

  <meta name="viewport" content="width=device-width, initial-scale=1">

  <title>Inter Music Therapy - Muziektherapeut Franziska Muller uit Groningen - Intermusictherapy.nl</title>

  <meta name="description" content="Inter Music Therapy - Muziektherapeut Franziska Muller uit Groningen - Intermusictherapy.nl">

  <link rel="stylesheet" href="css/main.css">

  <!-- Webfont -->
  <link href="https://fonts.googleapis.com/css?family=Meera+Inimai" rel="stylesheet">

  <script src="js/vendors.js" defer></script>
  <script src="js/bundle.js" defer></script>

</head>
