$font-sizes: (
  xxs:  (font-size: 12, line-height: 16),
  xs:   (font-size: 14, line-height: 20),
  s:    (font-size: 16, line-height: 22),
  m:    (font-size: 20, line-height: 24),
  l:    (font-size: 24, line-height: 30),
  xl:   (font-size: 28, line-height: 40),
  xxl:  (font-size: 36, line-height: 48),
  xxxl: (font-size: 56, line-height: 62),
);
